*{
	box-sizing: border-box;
}

/* Resets */
html, body, div, ul, li, p, h1{
	margin: 0;
	padding: 0;
}

/*  --------------- Main Structure */
html {
    height: 100%; 
}

body {
    margin: 0 auto; 
    height: 100%;
    max-width: 1280px;
 
}

/* --------------- Columns */
.col{ 
	float: left;
	width: 33.33%;
}

/* --------------- Sticky footer styles */
#page{
	display: table;
	height: 100%;

}

header{
	display: table-row;
}

#main-content{
	display: table-row;
	height: auto;
}

footer {
    display: table-row;
    
    min-height: 1px;
    width: 100%;
    background-color: #ededed;
}

/*  --------------- Body Styles */
body {
    border-left: 1px solid #ededed;
	border-right: 1px solid #ededed;
	font-family: Varela Round,arial,sans-serif;
	font-size: 100%;
	color: darkgray;
}

/* --------------- Links */
a{ 
	color: #999;
	text-decoration: none;
}


/* --------------- Header */
header{
	text-align: center;
}

h1.page-title {
	margin-bottom: 20px;

	font-size: 5.5em;
	line-height: .5em;
	font-weight: lighter;
	text-transform: lowercase;
	letter-spacing: 1.5px;
	font-family: "Great Vibes";
}


/* --------------- Top Navigation  */
#menu-label{
	display: none;	/* Hide menu label for small screens */
	text-transform: uppercase;
	letter-spacing: 2px;
}

input[type=checkbox]{
    display: none;	/* Hide checkbox that lets menu toggle */
}

label{
	display: block;
}

#top-nav{
	margin: 0px 0 10px 0;
	padding: 20px 0;
}

#top-nav a{
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}

#top-nav a:hover{
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
}

#top-nav ul{
	list-style-type: none;
}

#top-nav li{
	display: inline-block;
	margin-left: 30px;
}

#top-nav li:first-child{
	margin-left: 0px;
}

/* --------------- Banner Image  */
#main-image{
	background-color: lightgray;
	background-image: url('images/bear_banner.jpg');
	background-position: center -50px;
	background-repeat: no-repeat;
	height: 250px;
}

/* --------------- Footer  */
footer p{
	padding: 20px 0;
	background-color: #ededed;
	width: 100%;
	text-align: center;
}


/* --------------- Entries  */
#entries{
	margin: 20px 0px 10px 28px;
	overflow: auto;
}

.entry{
	padding: 0 20px;
	text-align: left;
}

.entry h3{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	margin: 8px 0 8px;
}

/* --------------- Media Queries */

/* Tablet */
@media screen and (max-width: 750px){
	
	.col{
		width: 100%;
	}

	#entries{
		margin: 0px 0px 10px;
	}

	.entry{
		padding-top: 10px;
	}

	
/* Mobile */
@media screen and (max-width: 600px){

	input[type=checkbox]:checked ~ #menu-list{
    	display: block;
    	border-top: 1px solid #ededed;
	}

	#menu-list{
		display: none;
	}

	#menu-label{
		display: block;
	}

	#top-nav li{
		display: block;
		margin: 5px 0 0 0;
	}
}
@media screen and (max-width: 400px){
	
	#top-nav{
			padding: 10px 0;
		}
	}

	h1.page-title{
		margin: 10px 0 10px 0;
		font-size: 4em;
	} 

	#main-image{
		height: 200px;
	}


	
}



